<div class="grid sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3  gap-10 mt-100">
  @for (subject of subjectdata.slice(0,12); track $index) {
 <div [routerLink]="['/subsubject',subject._id]" class="  relative w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
    <a >
        <img class=" w-full h-[280px] rounded-t-lg" [src]="subject.icon" alt="product image" />
    </a>
    <div class="left-1/2 -translate-x-1/2 top-[60%]  absolute text-center rounded-lg   w-[300px] bg-[#1935CA66] text-white text-lg " >
      <p class=" font-bold">{{subject.name}}</p>
      <p class=" italic">Voluptatem aut ut dignissimos blanditiis</p>
    </div>

</div>
}
</div>




