
  <section class="" >
  <div class="  flex w-full justify-between  py-3 bg-white rounded-xl  shadow-2xl">
    <div class=" flex ps-2  ">
   <div class="">
     <img src="/images/frontt.jpg" alt="front" class=" rounded-lg" width="100px" height="100px" srcset="">
   </div>
   <div class=" ps-5">
    <h2 class=" text-red-950 font-bold text-md italic pb-3 ">{{subsubjectexam.title}}</h2>
    <p class=" text-[#535353]">{{subsubjectexam.numberOfQuestions}} Question</p>
   </div>
  </div>
  <div >
    <p class=" text-center   text-[#535353] pb-2">{{subsubjectexam.duration}} Minutes</p>
    <button  class=" text-white rounded-full ms-5 me-2  px-5 py-1 bg-[#4461F2]" type="button">start</button>
  </div>
</div>
</section>

