<main class=" hidden lg:block">
  <div class="  main-side   h-dvh  bg-[#F0F4FC]  rounded rounded-br-[100px] rounded-tr-[100px]  mt-0 shadow-2xl   shadow-gray-300  ">
    <div class=" mx-auto px-10 lg:px-20"  >
      <div class=" text-center pt-[50px] md:pt-[150px] lg:pt-[50px]">
        <h1 class=" flex flex-col text-5xl font-bold  text-start ">Welcome to  <span class=" text-justify text-5xl py-6 text-[#4461F2]">Elevate</span></h1>
        <p class="  text-[12px] lg:text-[17px] text-wrap  pe-10  font-medium  leading-8 text-justify">Quidem autem voluptatibus qui quaerat aspernatur architecto natus</p>
      </div>
          <div class="">
      <img src="/images/bro.png" alt="image bro"   class="  py-[10px] md:py-[150px] pe-10 lg:py-[25px] ">
    </div>
    </div>
  </div>
</main>
