<main class=" min-w-full  flex justify-center items-center ">
  <!-- forgetpassword -->
@if (step ==1) {
     <div class="md:w-[400px] md:mx-auto  px-2 my-[80px] md:px-7 lg:px-7 ">
    <h1 class=" font-bold text-2xl mb-8">Forgot your password?</h1>
    <form  [formGroup]="verfiyemail" (ngSubmit)="submitemail()">
        <div>
            <input formControlName="email" type="email" id="Email" class="bg-gray-50 mb-5 border shadow-xl border-gray-300 text-[#A1A4A9] text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"  [class]="{
            'border-red-600': verfiyemail.get('email')?.touched && !verfiyemail.get('email')?.dirty,
            'border-green-600': verfiyemail.get('email')?.touched && verfiyemail.get('email')?.dirty
        }"  placeholder="Enter Email"  required />
        </div>
        <a  routerLink="/forget" class="cursor-pointer ms-[250px] md:ms-[200px] text-[#4461F2]"> Recover Password ?</a>
        <button type="submit" class="  bg-[#4461F2]  mx-auto text-white my-5  focus:outline-none  font-medium rounded-2xl text-sm px-[100px] py-3 text-center block ">Verify Email</button>
        <div class="inline-flex  relative items-center justify-center w-full">
          <hr class="w-64 h-px my-2 bg-gray-200 border-0 dark:bg-gray-700">
          <span class="absolute px-3 font-normal  text-[#6C737F] -translate-x-1/2 left-1/2 dark:text-white dark:bg-gray-900">Or Continue with</span>
        </div>
        <div class=" flex items-center   justify-around my-5">
          <a class="bg-white size-10 rounded-xl  hover:size-12 flex justify-center items-center  cursor-pointer text-[#4461F2]  shadow-xl ">
            <img src="/images/Logo Google.svg" alt="" srcset="">
          </a>
                    <a class="bg-white size-10 hover:size-12 rounded-xl flex justify-center items-center  cursor-pointer text-[#4461F2]  shadow-xl ">
            <i class="fa-brands fa-twitter text-[25px]"></i>
          </a>
                    <a class="bg-white size-10 hover:size-12  rounded-xl flex justify-center items-center  cursor-pointer text-[#4461F2]  shadow-xl ">
            <i class="fa-brands fa-facebook text-[25px]"></i>
          </a>
                    <a class="bg-white   size-10 hover:size-12 rounded-xl flex justify-center items-center  cursor-pointer text-black   shadow-xl ">
           <i class="fa-brands fa-apple text-[25px]"></i>
          </a>
        </div>
    </form>
  </div>
}
    <!-- verycode -->
@else if (step ==2) {
     <div class="md:w-[400px] md:mx-auto  px-2md:my-[150px] lg:my-[80px] md:px-7 lg:px-7 ">
    <h1 class=" font-bold text-2xl mb-8">Verify code</h1>
    <form   [formGroup]="verfiycode" (ngSubmit)="submitcode()">
      <!-- <p-inputotp formControlName="resetCode" [length]="6"  class=" ms-12 mb-5 " [integerOnly]="true" /> -->
        <div>
            <input formControlName="resetCode" type="text" id="reset" class="bg-gray-50 mb-5 border shadow-xl border-gray-300 text-[#A1A4A9] text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" [class]="{
            'border-red-600': verfiycode.get('resetCode')?.touched && !verfiycode.get('resetCode')?.dirty,
            'border-green-600': verfiycode.get('resetCode')?.touched && verfiycode.get('resetCode')?.dirty
        }" placeholder="Enter code"  required />
        </div>
        <p class=" ms-[110px]">Didn’t receive a code?<a  routerLink="/forget" class="cursor-pointer text-[#4461F2]"> Resend</a></p>
        <button type="submit" class="  bg-[#4461F2]  mx-auto text-white my-5  focus:outline-none  font-medium rounded-2xl text-sm px-[150px] py-3 text-center block ">Verify</button>
        <div class="inline-flex  relative items-center justify-center w-full">
          <hr class="w-64 h-px my-2 bg-gray-200 border-0 dark:bg-gray-700">
          <span class="absolute px-3 font-normal  text-[#6C737F] -translate-x-1/2 left-1/2 dark:text-white dark:bg-gray-900">Or Continue with</span>
        </div>
        <div class=" flex items-center   justify-around my-5">
          <a class="bg-white size-10 rounded-xl  hover:size-12 flex justify-center items-center  cursor-pointer text-[#4461F2]  shadow-xl ">
            <img src="/images/Logo Google.svg" alt="" srcset="">
          </a>
                    <a class="bg-white size-10 hover:size-12 rounded-xl flex justify-center items-center  cursor-pointer text-[#4461F2]  shadow-xl ">
            <i class="fa-brands fa-twitter text-[25px]"></i>
          </a>
                    <a class="bg-white size-10 hover:size-12  rounded-xl flex justify-center items-center  cursor-pointer text-[#4461F2]  shadow-xl ">
            <i class="fa-brands fa-facebook text-[25px]"></i>
          </a>
                    <a class="bg-white   size-10 hover:size-12 rounded-xl flex justify-center items-center  cursor-pointer text-black   shadow-xl ">
           <i class="fa-brands fa-apple text-[25px]"></i>
          </a>
        </div>
    </form>
  </div>
}
    <!-- Set a Password -->
@else if (step ==3) {
    <div class="w-[400px] mx-auto md:my-[150px] lg:my-[80px] md:px-7 lg:px-7 ">
    <h1 class=" font-bold text-2xl mb-8">Set a Password</h1>
    <form   [formGroup]="resetpassword" (ngSubmit)="submitpassword()">
        <div>
            <input readonly formControlName="email" type="email" id="Email" class="bg-gray-50 mb-5 border shadow-xl border-gray-300 text-[#A1A4A9] text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" [class]="{
            'border-red-600': resetpassword.get('email')?.touched && !resetpassword.get('email')?.dirty,
            'border-green-600': resetpassword.get('email')?.touched && resetpassword.get('email')?.dirty
        }" placeholder="Enter Email"  required />
        </div>
                <div class=" relative">
            <input  [class]="{
            'border-red-600': resetpassword.get('newPassword')?.touched && !resetpassword.get('newPassword')?.dirty,
            'border-green-600': resetpassword.get('newPassword')?.touched && resetpassword.get('newPassword')?.dirty
        }" formControlName="newPassword" [type]="showPassword ? 'text' : 'password'" id="Password" class="bg-gray-50 mb-5 border shadow-xl border-gray-300 text-[#A1A4A9] text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder=" New Password"  required />
  <div
    class="absolute inset-y-0 end-3 flex items-center cursor-pointer"
    (click)="togglePasswordVisibility()"
  >
    <i [class]="showPassword ? 'fa-regular fa-eye-slash' : 'fa-regular fa-eye'"></i>
  </div>
        </div>
        <button type="submit" class="  bg-[#4461F2]  mx-auto text-white my-5  focus:outline-none  font-medium rounded-2xl text-sm px-[100px] py-3 text-center block ">Verify Password</button>
        <div class="inline-flex  relative items-center justify-center w-full">
          <hr class="w-64 h-px my-2 bg-gray-200 border-0 dark:bg-gray-700">
          <span class="absolute px-3 font-normal  text-[#6C737F] -translate-x-1/2 left-1/2 dark:text-white dark:bg-gray-900">Or Continue with</span>
        </div>
        <div class=" flex items-center   justify-around my-5">
          <a class="bg-white size-10 rounded-xl  hover:size-12 flex justify-center items-center  cursor-pointer text-[#4461F2]  shadow-xl ">
            <img src="/images/Logo Google.svg" alt="" srcset="">
          </a>
                    <a class="bg-white size-10 hover:size-12 rounded-xl flex justify-center items-center  cursor-pointer text-[#4461F2]  shadow-xl ">
            <i class="fa-brands fa-twitter text-[25px]"></i>
          </a>
                    <a class="bg-white size-10 hover:size-12  rounded-xl flex justify-center items-center  cursor-pointer text-[#4461F2]  shadow-xl ">
            <i class="fa-brands fa-facebook text-[25px]"></i>
          </a>
                    <a class="bg-white   size-10 hover:size-12 rounded-xl flex justify-center items-center  cursor-pointer text-black   shadow-xl ">
           <i class="fa-brands fa-apple text-[25px]"></i>
          </a>
        </div>
    </form>
  </div>
}
</main>

